# Lines that start with '#' are comments.

/bin/gvimless
/bin/pbcopy
/bin/pbpaste
/bin/sshwrap
/bin/which

/vim/.VimballRecord
/vim/.netrwhist
/vim/GetLatest

/vim/after/spell/*.spl

/vim/autoload/Align.vim
/vim/autoload/AlignMaps.vim
/vim/autoload/repeat.vim

/vim/doc/Align.txt
/vim/doc/cecutil.txt
/vim/doc/surround.txt
/vim/doc/tags

/vim/plugin/AlignMapsPlugin.vim
/vim/plugin/AlignPlugin.vim
/vim/plugin/cecutil.vim
/vim/plugin/less.vim
/vim/plugin/surround.vim

/vim/spell/*.spl
