# Lines that start with '#' are comments.

/bin/gvimless
/bin/pbcopy
/bin/pbpaste
/bin/sshwrap
/bin/which

/byobu/.*
/byobu/disable-autolaunch
/byobu/no-logout-on-detach
/byobu/status.disable

/vim/.VimballRecord
/vim/.netrwhist
/vim/GetLatest

/vim/after/spell/*.spl

/vim/autoload/Align.vim
/vim/autoload/AlignMaps.vim

/vim/doc/Align.txt
/vim/doc/cecutil.txt
/vim/doc/tags

/vim/pack/_/

/vim/plugin/AlignMapsPlugin.vim
/vim/plugin/AlignPlugin.vim
/vim/plugin/cecutil.vim
/vim/plugin/less.vim

/vim/spell/*.spl
