Host github.com
	CheckHostIP no
	ForwardAgent no

Host *
	ControlMaster auto
	ControlPath ~/.ssh/control/%r@%h:%p
#	For better security (but less convenient):
#	ControlPath ~/.ssh/control/%C
	ControlPersist 300
	ForwardAgent yes
	HashKnownHosts no
	ServerAliveCountMax 3
	ServerAliveInterval 30
	SendEnv TERM_PROGRAM
