Host github.com
	CheckHostIP no
	ForwardAgent no

Host *
	ControlMaster auto
	ControlPath ~/.ssh/%r@%h:%p
	ControlPersist 300
	ForwardAgent yes
	HashKnownHosts no
	ServerAliveCountMax 3
	ServerAliveInterval 30
	SendEnv TERM_PROGRAM
